@import url(//db.onlinewebfonts.com/c/596ad608a41bd28960c777827cdd6af1?family=Apple+Chancery);
#logo {
  width: 172px;
  height: auto;
  max-width: 30%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  position: absolute;
  width: 100%;
}

.header a {
  color: #582900;
}
.headerBouton {
  background-color: #582900;
  color: #e6dac8;
  font-size: 18px;
  width: 222px;
  height: 74px;
  margin-right: 20px;
  line-height: 54px;
  color: #e6dac8 !important;
}
body .header a.headerBouton:hover,
body .header a.headerBouton {
  line-height: 54px;
  color: #e6dac8;
}
.brown {
  color: #582900;
}

.backgroundAccueil {
  background-image: url("./images/tables_de_jeux_2.png");
}

.nav {
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
}

.margenav {
  display: flex;
  justify-content: space-evenly;
  width: 70%;
}

.logoHome {
  width: 658px;
  height: 659px;
  margin: auto;
}

.home {
  text-align: center;
  background-image: url("images/tables_de_jeux_2.png");
}

.textHome p {
  margin: 0 !important;
}

.main {
  padding-top: 200px;
  padding-bottom: 100px;
  min-height: calc(100vh -  120px);
}

.textHome {
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
  color: #582900;
}

.buttonHome {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.presentation {
  background-color: #e6dac8;
  padding: 20px;
  height: 611px;
}

.h2presentation {
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #582900;
  padding-top: 50px;
}

.textpresentation {
  text-align: left;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  width: 598px;
  color: rgba(3, 34, 76, 1);
}

.blockpresentation {
  width: 500px;
}

.imagepresentation {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

body a.voirplus {
  text-align: center !important;
  font-family: 'louis-george-cafe-regular', sans-serif !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-size: 18px !important;
  background-color: #582900;
  color: #e6dac8 !important;
  width: 175px !important;
  height: 64px !important;
  margin-left: 300px !important;
  line-height: 54px !important;
}

.flag {
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: #e6dac8;
  display: flex;
  align-items: center;
}

.backblue {
  background-color: #03224c;
  width: 25%;
  height: 323px;
  justify-content: center;
  padding-top: 3%;
}

.backbrown {
  background-color: #582900;
  width: 25%;
  height: 323px;
  padding-top: 3%;
}

.h2partenaire {
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(88, 41, 0, 1);
  padding-top: 50px;
}

.partner {
  background-color: #e6dac8;
}

.textpartner {
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  color: rgba(3, 34, 76, 1);
}

.imgpartner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 3%;
}

#footer {
  background-color: #03224c;
  display: flex;
  padding: 3%;
}

.buttonFooter {
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(230, 218, 200, 1);
  background-color: #03224c;
}

.logosocialmedia {
  margin-left: auto;
  margin-right: 3%;
}

.insta {
  width: 53px;
  height: 53px;
  margin-left: 10px;
}
.fb {
  width: 29px;
  height: 55px;
}

.info {
  color: #03224c;
  justify-content: center;
  align-items: center;
  background-color: #e6dac8;
}

.titreInfo {
  color: #582900;
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  margin: 5%;
}

.imageHoraire {
  width: 594px;
  height: 412px;
}

.imageLieu {
  width: 608px;
  height: 409px;
}

.subtitleInfo {
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
}

.textRest {
  white-space: nowrap;
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 45px;
}

.imageRest {
  width: 1453px;
  height: 257px;
}

.blockInfo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.centerImgRest {
  display: flex;
  justify-content: center;
}

.select {
  text-decoration: underline;
}

.backIconInfo {
  background-color: #582900;
}

.blockContact {
  display: flex;
  justify-content: space-evenly;
}

.titreContact {
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(88, 41, 0, 1);
  margin: 2%;
}

.blockContact p {
  white-space: nowrap;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  color: rgba(3, 34, 76, 1);
}

.questionp p {
  text-align: left;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  color: rgba(3, 34, 76, 1);
}

.contact {
  background-color: #e6dac8;
}

.question {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

input {
  border-color: #e6dac8;
  width: 987px;
  height: 57px;
  border-radius: 10px;
}

.message {
  width: 987px;
  height: 212px;
}

.btnEnvoyer {
  text-align: center;
  margin: 2%;
}

.blockProgramme {
  width: 398px;
  height: 531px;
  background-color: #582900;
  border-radius: 3%;
  margin-bottom: 50px;
}

.blockProgramme:nth-child(2n) {
  background-color: #03224c;
}

.pageProgrammation {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 140px;
  margin-bottom: 0;
}

.imageProgramme {
  width: 398px;
  height: 278px;
}

.titleProgramme {
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  color: rgba(237, 229, 217, 1);
}

.content {
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: rgba(237, 229, 217, 1);
  padding: 20px;
}

.backProgrammation {
  background-color: #e6dac8;
}

.backProgrammation h1 {
  text-align: center;
  font-family: "Apple Chancery";
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  color: rgba(88, 41, 0, 1);
}
.pdf {
  position: absolute;
  top: 0;
  right: 100px;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: rgba(3, 34, 76, 1);
}
.day {
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(3, 34, 76, 1);
}

.pdf_Programme {
  position: relative;
}

.backgroundBilleterie {
  background-color: #e6dac8;
}

.imageConstruction {
  width: 1500px;
}
.blockBilleterie {
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  color: rgba(3, 34, 76, 1);
}

.mention {
  text-align: center;
  font-family: 'louis-george-cafe-regular', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: rgba(3, 34, 76, 1);
  padding: 50px;
}

.blockconnexion {
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #e6dac8;
}

.formcss {
  width: 1020px;
  margin: 0 auto;
}

.widthform {
  width: 100%;
}

.blockwhite {
  background-color: white;
  width: 1020px;
  margin: 0 auto 50px;
  border-radius: 10px;
  padding: 30px;
  
    text-align: left;
    font-family: 'louis-george-cafe-regular', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(3,34,76,1);
}

.connectermdp {
  text-align: left;
}

.h2connexion{
  color: #582900;
  text-align: center;

}

.titreinscription{
  color: #03224c;
  text-align: center;
}


.backgroundAdmin{
  background-color: #e6dac8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.backgroundAdmin p{
  color: black;
}

.elouan{
  text-align: center;
}